/*
	initial image dimensions in pixels are
		width: 49
		height: 32
		background: 64
	for small screens we scale to 4x, ie
		width: 196
		height: 128
		spacing: 8
		background: 256
	for large screens we scale to 8x, ie
		width: 392
		height: 256
		spacing: 16
		background: 512
*/

html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #111;
	color: #fff;
	font-family: sans-serif;
	background-size: 256px;
	background-position: calc(50% - 2px) 50%;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	margin: 0;
	font-size: small;
}

header {
	height: 50vh;
	min-height: 144px;
	position: relative;
}

main {
	padding: 0 16px;
}

h1,
p {
	margin: 0 0 16px 0;
}

a {
	color: cyan;
}

.kong {
	height: 128px;
	width: 196px;
	position: absolute;
	bottom: 8px;
	margin-left: -98px;
	left: 50%;
}

.kong + .kong {
	display: none;
}

.pause {
	background-color: transparent;
	border-style: none;
	bottom: 8px;
	font-size: smaller;
	right: 8px;
	color: #444;
	cursor: pointer;
	display: block;
	margin: 0;
	outline: none;
	padding: 0;
	position: absolute;
	text-align: center;
	text-decoration: underline;
}

@media (min-height: 576px) and (min-width: 460px) {
	body {
		background-size: 512px;
		background-position: calc(50% - 4px) 50%;
		font-size: medium;
	}

	header {
		min-height: 288px;
	}

	.kong {
		height: 256px;
		width: 392px;
		bottom: 16px;
		margin-left: -196px;
	}
}
